<template>
  <v-card>
    <date-time-picker
      @change="startDateTime = $event"
      time-label="Start time"
      date-label="Stard date"
    />

    <date-time-picker
      @change="endDateTime = $event"
      time-label="End time"
      date-label="End date"
    />

    <v-row>
      <v-col>
        <v-btn
          @click="getLogsPerMachineReports"
        >logs per machine</v-btn>
      </v-col>
      <v-col>
        <v-btn
          @click="getLogsPerSystemReports"
        >logs per system</v-btn>
      </v-col>
      <v-col>
        <v-btn
          @click="getAlarmsPerMachineReports"
        >alarms per machine</v-btn>
      </v-col>
      <v-col>
        <v-btn
          @click="getAlarmsPerSystemReports"
        >alarms per system</v-btn>
      </v-col>
    </v-row>

    <data-table
      v-if="isLoaded"
      :content="content"
      title="Report"
    />
  </v-card>
</template>
<script>
import { reportsService } from '@/services/api/reports'

export default {
  methods: {
    handleApiCall (apiFunction) {
      apiFunction({ start: this.startDateTime, end: this.endDateTime })
        .then(({ data }) => {
          console.log(data)
          this.content = data
        })
        .catch(err => {
          console.log(err)
        })
        .finally(() => {
          this.isLoaded = true
        })
    },

    getLogsPerMachineReports () {
      this.handleApiCall(reportsService.getLogsPerMachineReports)
    },

    getLogsPerSystemReports () {
      this.handleApiCall(reportsService.getLogsPerSystemReports)
    },

    getAlarmsPerMachineReports () {
      this.handleApiCall(reportsService.getAlarmsPerMachineReports)
    },

    getAlarmsPerSystemReports () {
      this.handleApiCall(reportsService.getAlarmsPerSystemReports)
    }
  },

  created () {
    this.getLogsPerMachineReports()
  },

  data () {
    return {
      startDateTime: '2019-09-08T05:25:25.00Z',
      endDateTime: '2019-06-03T06:30:00.00Z',

      search: '',
      isLoaded: false,
      content: []
    }
  }
}
</script>
