<template>
  <v-card>
    <v-card-title>
      {{ title }}
      <div class="flex-grow-1"></div>
      <v-checkbox class="regex-checkbox" v-model="isRegex" label="Regex"></v-checkbox>
      <v-text-field
        v-model="search"
        append-icon="fa-search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :custom-filter="customSearch"
      :headers="headers"
      :items="content"
      :search="search"
    ></v-data-table>
  </v-card>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },

    content: {
      type: Array,
      default: () => []
    }
  },

  methods: {
    basicSearch (value, search, item) {
      search = search.toLowerCase()
      for (let key of Object.keys(item)) {
        const fieldValue = item[key].toString().toLowerCase()

        if (fieldValue.includes(search)) {
          return true
        }
      }

      return false
    },

    regexSearch (value, search, item) {
      let regex
      try {
        regex = new RegExp(search)
      } catch (e) {
        return false
      }

      for (let key of Object.keys(item)) {
        const fieldValue = item[key].toString()
        regex = new RegExp(search)

        if (regex.test(fieldValue)) {
          return true
        }
      }

      return false
    }
  },

  computed: {
    customSearch () {
      return this.isRegex ? this.regexSearch : this.basicSearch
    },

    headers () {
      return Object.keys(this.content[0]).map(x => ({ text: x, value: x }))
    }
  },

  data () {
    return {
      search: '',
      isRegex: false
    }
  }
}
</script>
<style scoped>
  .regex-checkbox {
    padding-top: 24px;
    padding-right: 20px;
  }
</style>
