<template>
  <v-card>
    <v-row>
      <v-col cols="6" md="3">
        <v-menu
          v-model="datePickerMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="datePicker"
              :label="dateLabel"
              prepend-icon="fa-calendar-alt"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="datePicker" @change="handleChange" @input="datePickerMenu = false"></v-date-picker>
        </v-menu>
      </v-col>
      <v-col cols="6" md="3">
        <v-menu
          v-model="timePickerMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="timePicker"
              :label="timeLabel"
              prepend-icon="fa-clock"
              readonly
              v-on="on"
            ></v-text-field>
          </template>
          <v-time-picker
            use-seconds
            v-model="timePicker"
            @click:second="timePickerMenu = false"
            @input="handleChange">
          </v-time-picker>
        </v-menu>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
export default {
  props: {
    timeLabel: {
      type: String,
      default: 'Time picker'
    },

    dateLabel: {
      type: String,
      default: 'Date picker'
    }
  },

  data: function () {
    return {
      timePickerMenu: false,
      timePicker: '00:00:00',
      datePickerMenu: false,
      datePicker: new Date().toISOString().substr(0, 10)
    }
  },

  computed: {
    fullDateTime () {
      return `${this.datePicker}T${this.timePicker}.00Z`
    }
  },

  methods: {
    handleChange () {
      this.$emit('change', this.fullDateTime)
    }
  }
}
</script>
