<template>
  <div class="loading">
    <img
      class="loading-spinner"
      :src="require('@/assets/loader.svg')"
    />
  </div>
</template>

<script>
export default {
  name: 'loader-overlay'
}
</script>

<style scoped>
.loading-spinner {
  flex: 1;
  height: 40%;
}

.loading {
  display: flex;
  flex-basis: center;
  align-content: center;
  align-items: center;
  position: fixed;
  z-index: 1500;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
