<template>
  <v-card>
    <v-card-title>
      {{ title }}
      <div class="flex-grow-1"></div>
      <v-checkbox class="regex-checkbox" v-model="isRegex" label="Regex"></v-checkbox>
      <v-text-field
        v-model="search"
        append-icon="fa-search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :custom-filter="customSearch"
      :headers="headers"
      :items="content"
      :search="search"
    >
      <template v-slot:item.risk="{ item }">
        <v-overflow-btn
          class="my-2"
          :items="USER_RISKS"
          label="Risk"
          @change="handleRiskChange(item, $event)"
        ></v-overflow-btn>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
import { USER_RISKS } from '@/constants'

export default {
  props: {
    title: {
      type: String,
      required: true
    },

    content: {
      type: Array,
      default: () => []
    }
  },

  methods: {
    handleRiskChange (item, status) {
      this.$emit('change-risk', { item, status })
    },

    basicSearch (value, search, item) {
      search = search.toLowerCase()
      for (let key of Object.keys(item)) {
        const fieldValue = item[key].toString().toLowerCase()

        if (fieldValue.includes(search)) {
          return true
        }
      }

      return false
    },

    regexSearch (value, search, item) {
      let regex
      try {
        regex = new RegExp(search)
      } catch (e) {
        return false
      }

      for (let key of Object.keys(item)) {
        const fieldValue = item[key].toString()
        regex = new RegExp(search)

        if (regex.test(fieldValue)) {
          return true
        }
      }

      return false
    }
  },

  computed: {
    customSearch () {
      return this.isRegex ? this.regexSearch : this.basicSearch
    },

    headers () {
      return [
        ...Object.keys(this.content[0]).map(x => ({ text: x, value: x })),
        { text: 'Risk', value: 'risk', sortable: false }
      ]
    }
  },

  data () {
    return {
      USER_RISKS,
      search: '',
      isRegex: false
    }
  }
}
</script>
<style scoped>
.regex-checkbox {
  padding-top: 24px;
  padding-right: 20px;
}
</style>
