<template>
  <users-data-table
    v-if="this.isLoaded"
    :content="content"
    title="Logs"
    @change-risk="handleRiskChange"
  />
</template>
<script>
import { findIndex } from 'lodash-es'
import UsersDataTable from './UsersDataTable'
import { usersService } from '@/services/api/users'

export default {
  components: {
    UsersDataTable
  },

  created () {
    usersService.index()
      .then(({ data }) => {
        console.log(data)
        this.content = data
      })
      .catch(err => {
        console.log(err)
      })
      .finally(() => {
        this.isLoaded = true
      })
  },

  methods: {
    handleRiskChange ({ item, status }) {
      const updatedItem = { ...item, riskFactor: status }
      usersService.update(updatedItem)
        .then(() => {
          const index = findIndex(this.content, ['id', item.id])
          this.content.splice(index, 1, updatedItem)
        })
    }
  },

  data () {
    return {
      search: '',
      isLoaded: false,
      content: []
    }
  }
}
</script>
