<template>
  <data-table
    v-if="this.isLoaded"
    :content="content"
    title="Logs"
  />
</template>
<script>
import { logsService } from '@/services/api/logs'

export default {
  created () {
    logsService.index()
      .then(({ data }) => {
        console.log(data)
        this.content = data
      })
      .catch(err => {
        console.log(err)
      })
      .finally(() => {
        this.isLoaded = true
      })
  },

  data () {
    return {
      search: '',
      isLoaded: false,
      content: []
    }
  }
}
</script>
