<template>
  <v-card elevation="2" class="pa-4 mb-1">

    <v-overflow-btn
      class="my-2"
      :items="FACT_ENTITY_TYPES"
      label="Entity"
      v-model="newFact.entity"
    ></v-overflow-btn>

    <v-text-field
      label="Ref"
      v-model="newFact.ref"
    ></v-text-field>

    <field-refs
      :field-refs="newFact.fieldRefs"
      @add="addFieldRef"
      @remove="removeFieldRef"
      :entity="newFact.entity"
    />

    <field-constraints
      :field-constraints="newFact.fieldConstraints"
      @add="handleAddConstraint"
      @create="createFieldConstraint"
      :entity="newFact.entity"
    />

    <accumulation-constraints
      :constraints="newFact.constraints"
      @add-accumulation-constraint="handleAddAccumulationConstraint"
    />

    <accumulation-function
      :accumulation-function="newFact.function"
    />

    <frame
      :frame="newFact.frame"
    />

    <v-btn @click="submit">
      <v-icon>fas fa-check-double</v-icon>
    </v-btn>

  </v-card>
</template>
<script>
import AccumulationConstraints from './AccumulationConstraints'
import AccumulationFunction from './AccumulationFunction'
import FieldRefs from './FieldRefs'
import FieldConstraints from './FieldConstraints'
import Frame from './Frame'
import * as _ from 'lodash'
import { FACT_ENTITY_TYPES } from '@/constants'

export default {
  components: {
    Frame,
    FieldRefs,
    FieldConstraints,
    AccumulationConstraints,
    AccumulationFunction
  },

  props: {
    fact: {
      type: Object,
      required: false
    }
  },

  methods: {
    submit () {
      const data = { ...this.newFact }
      if (data.frame.type === null) {
        delete data.frame
      }
      this.$emit('add', data)
      this.newFact = this.getDefaults()
    },

    createFieldConstraint (data) {
      this.newFact.fieldConstraints.push({
        guid: Math.random(),
        logic: '',
        fields: [
          data
        ]
      })
    },

    getFieldConstraintById (id) {
      let res
      // TODO find better way of recursively finding id
      let remainingDepth = 20

      let lodashChain = _(this.newFact.fieldConstraints)

      while (!res || !remainingDepth) {
        lodashChain = lodashChain
          .thru(function (coll) {
            return _.union(coll, _.map(coll, 'fields'))
          })
          .flatten()
        res = lodashChain.find({ guid: id })
        remainingDepth--
      }
      return res
    },

    handleAddAccumulationConstraint (data) {
      this.newFact.constraints.push(data)
    },

    handleAddConstraint ({ id, data }) {
      if (!id) {
        return this.createFieldConstraint(data)
      }
      const rule = this.getFieldConstraintById(id)
      rule.logic = 'and'

      const newFields = [
        ...rule.fields.map(field => {
          return field.logic ? field
            : {
              guid: Math.random(),
              logic: '',
              fields: [field]
            }
        }),
        {
          guid: Math.random(),
          logic: '',
          fields: [
            data
          ]
        }
      ]

      this.$set(rule, 'fields', newFields)
    },

    addFieldRef (data) {
      this.newFact.fieldRefs = { ...this.newFact.fieldRefs, ...data }
    },

    removeFieldRef (key) {
      this.$delete(this.newFact.fieldRefs, key)
    },

    getDefaults () {
      if (this.fact) {
        return this.fact
      }

      return {
        type: 'accumulation',
        entity: '',
        ref: '',
        fieldRefs: {},
        fieldConstraints: [],
        frame: {
          type: null,
          value: null
        },
        constraints: [],
        function: {
          type: '',
          ref: ''
        }
      }
    }
  },

  data: function () {
    return {
      newFact: this.getDefaults(),
      FACT_ENTITY_TYPES
    }
  }
}
</script>
