<template>
    <v-card elevation="2" class="pa-4 mb-1">
      <h2>Constraints</h2>
      <v-card v-for="(constraint, index) in constraints" :key="index" elevation="2" class="pa-4 mb-1">
        Field: <code>{{constraint.field}}</code>
        Operation: <code>{{constraint.operation}}</code>
        Value: <code>{{constraint.value}}</code>
      </v-card>

      <v-btn v-if="!isAdding" @click="startAdding">
        Add constraint
      </v-btn>
      <template v-else>
        <v-overflow-btn
          class="my-2"
          :items="ACCUMULATION_CONSTRAINT_FIELDS"
          label="Constraint Field Name"
          v-model="form.field"
        ></v-overflow-btn>

        <v-overflow-btn
          class="my-2"
          :items="COMPARISON_OPERATORS"
          label="Operation"
          v-model="form.operation"
        ></v-overflow-btn>

        <v-text-field
          label="Value"
          v-model="form.value"
        ></v-text-field>
        <v-btn fab small @click="addConstraint">
          <v-icon>fas fa-check-double</v-icon>
        </v-btn>

      </template>

    </v-card>
</template>
<script>
import { ACCUMULATION_CONSTRAINT_FIELDS, COMPARISON_OPERATORS } from '@/constants'

export default {
  props: {
    constraints: {
      type: Array,
      required: true
    }
  },

  data: function () {
    return {
      ACCUMULATION_CONSTRAINT_FIELDS,
      COMPARISON_OPERATORS,
      form: this.getDefaults(),
      isAdding: false
    }
  },

  methods: {
    startAdding () {
      this.isAdding = true
    },

    getDefaults () {
      return {
        field: '',
        operation: '',
        value: ''
      }
    },

    addConstraint () {
      this.$emit('add-accumulation-constraint', { ...this.form })
      this.isAdding = false
      this.form = this.getDefaults()
    }
  }

}
</script>
