<template>
    <v-card elevation="2" class="pa-4 mb-1">
      <h2>Function</h2>

      <v-overflow-btn
        class="my-2"
        :items="ACCUMULATION_FUNCTION_TYPES"
        label="Constraint Field Name"
        v-model="accumulationFunction.type"
      ></v-overflow-btn>

      <v-text-field
        label="Ref"
        v-model="accumulationFunction.ref"
      ></v-text-field>

    </v-card>
</template>
<script>
import { ACCUMULATION_FUNCTION_TYPES } from '@/constants'

export default {

  data: function () {
    return {
      ACCUMULATION_FUNCTION_TYPES
    }
  },

  props: {
    accumulationFunction: {
      type: Object,
      required: true
    }
  }
}
</script>
