<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Add Field Constraint</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-overflow-btn
              class="my-2"
              :items="FACT_ENTITY_TYPE_FIELDS[entity]"
              label="Field"
              v-model="form.field"
            ></v-overflow-btn>

            <v-overflow-btn
              class="my-2"
              :items="COMPARISON_OPERATORS"
              label="Operation"
              v-model="form.operation"
            ></v-overflow-btn>

            <v-text-field
              label="Mapped Name"
              v-model="form.value"
            ></v-text-field>

          </v-container>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click="$emit('cancel')">Close</v-btn>
          <v-btn color="blue darken-1" text @click="submit">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
import { FACT_ENTITY_TYPE_FIELDS, COMPARISON_OPERATORS } from '@/constants'

export default {
  data: function () {
    return {
      FACT_ENTITY_TYPE_FIELDS,
      COMPARISON_OPERATORS,
      form: this.getDefaults()
    }
  },

  methods: {
    submit () {
      this.$emit('submit', { ...this.form })
      this.form = this.getDefaults()
    },

    getDefaults () {
      return {
        field: '',
        operation: '',
        value: ''
      }
    }
  },

  props: {
    entity: {
      type: String,
      required: true
    },

    dialog: {
      type: Boolean,
      default: false
    }
  }
}
</script>
