<template>
  <v-container>
    <v-row justify="space-between">
      <v-col cols="12" md="8">
        <v-card elevation="2" class="pa-4">
          <h2>Template</h2>
          <v-form ref="form">

            <v-card elevation="2" class="pa-4 mb-1">
              <v-text-field
                v-model="template.name"
                label="Name">
              </v-text-field>
            </v-card>

            <facts
              :facts="template.facts"
              @add="addFact"
            />

            <actions
              :actions="template.actions"
              @add="addAction"
              @remove="removeAction"
            />

            <v-btn @click="createTemplate">
              submit
            </v-btn>

          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Facts from './Facts'
import Actions from './actions/Actions'
import { templatesService } from '@/services/api/templates'

export default {
  components: {
    Facts,
    Actions
  },

  props: {},

  data: function () {
    return {
      template: this.getDefaults()
    }
  },

  methods: {
    addAction (data) {
      this.template.actions.push(data)
    },

    removeAction (index) {
      this.template.actions.splice(index, 1)
    },

    reverseMapConstraints (constraints) {
      return constraints.map(x => {
        if (x.fields.length === 1) {
          return x.fields[0]
        }
        return { [x.logic]: this.reverseMapConstraints(x.fields) }
      })
    },

    createTemplate () {
      const data = {
        ...this.template,
        facts: this.template.facts.map(fact => {
          return {
            ...fact,
            fieldConstraints: this.reverseMapConstraints(fact.fieldConstraints)
          }
        })
      }
      templatesService.create(data)
    },

    addFact (data) {
      this.template.facts.push(data)
    },

    getDefaults () {
      return {
        name: '',
        facts: [],
        actions: []
      }
    }
  }
}
</script>
