<template>
  <v-card
    elevation="2"
    class="pa-4 mb-1"
    :color="color"
  >
    <v-card
      elevation="2"
      class="pa-4 mb-1"
      v-if="isSimpleConstraint(constraint)"
    >
      <v-card
        elevation="2"
        class="pa-4 mb-1"
      >
        <p>{{constraint.fields[0].field}}</p>
        <p>{{constraint.fields[0].operation}}</p>
        <p>{{constraint.fields[0].value}}</p>
      </v-card>
    </v-card>

    <v-card
      elevation="2"
      class="pa-4 mb-1"
      v-else
    >
      <constraint
        @plus="$emit('plus', $event)"
        v-for="cst in constraint.fields"
        :key="cst.guid"
        :constraint="cst"
      />
      <v-overflow-btn
        class="my-2"
        :items="LOGICAL_OPERATORS"
        :value="getLogical(constraint)"
        label="Operator"
      ></v-overflow-btn>
    </v-card>

    <v-btn @click="$emit('plus', constraint.guid)">
      <v-icon>fas fa-plus</v-icon>
    </v-btn>

  </v-card>
</template>
<script>
import { LOGICAL_OPERATORS } from '@/constants'

export default {
  name: 'constraint',

  methods: {
    getLogical (constraint) {
      return constraint.logic
    },

    isSimpleConstraint (constraint) {
      return constraint.fields && constraint.fields.length === 1
    },

    getRandomColor () {
      var letters = '0123456789ABCDEF'
      var color = '#'
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)]
      }
      return color
    }
  },

  data: function () {
    return {
      color: this.getRandomColor(),
      LOGICAL_OPERATORS
    }
  },

  props: {
    constraint: {
      type: Object,
      required: true
    }
  }
}
</script>
