<template>
  <v-card elevation="2" class="pa-4 mb-1">
    <h2>Facts</h2>
    <component
      v-for="(fact, index) in facts"
      :key="index"
      :is="getFactComponentByType(fact.type)"
      :fact="fact"
      @remove="removeFact(index)"
    />

    <div v-if="addingType">
      <component
        :is="getFactComponentByType(addingType)"
        @add="handleAdd"
        @cancel="() => addingType = ''"
      />
    </div>

    <v-row v-else>
      <v-col >
        <v-btn class="mr-2" @click="() => addingType = 'singular'">
          Add Singular
        </v-btn>
        <v-btn @click="() => addingType = 'collection'">
          Add Collection
        </v-btn>
        <v-btn @click="() => addingType = 'accumulation'">
          Add Accumulation
        </v-btn>
      </v-col>
    </v-row>
  </v-card>
</template>
<script>
import SingularFact from './SingularFact'
import CollectionFact from './CollectionFact'
import AccumulationFact from './AccumulationFact'

export default {
  components: {
    SingularFact,
    CollectionFact,
    AccumulationFact
  },

  props: {
    facts: {
      type: Array,
      required: true
    }
  },

  data: () => ({
    addingType: ''
  }),

  methods: {
    handleAdd (data) {
      this.$emit('add', data)
      this.addingType = ''
    },

    getFactComponentByType (factType) {
      return `${factType}-fact`
    }
  }
}
</script>
