<template>
  <v-card elevation="2" class="pa-4 mb-1">
    <h2>Field Constraints</h2>

      <constraint
        v-for="constraint in fieldConstraints"
        :key="constraint.guid"
        :constraint="constraint"
        @plus="startAdding"
      />

      <v-btn @click="startAdding(null)">
        add field constraint
      </v-btn>

      <add-field-constraint-modal
        :dialog="isAdding"
        @submit="submit"
        @cancel="isAdding = false"
        :entity="entity"
      />

  </v-card>
</template>
<script>
import Constraint from './Constraint'
import AddFieldConstraintModal from './AddFieldConstraintModal'

export default {
  components: {
    Constraint,
    AddFieldConstraintModal
  },

  data: function () {
    return {
      isAdding: false,
      addToId: null
    }
  },

  methods: {
    submit (data) {
      this.$emit('add', { data, id: this.addToId })
      this.isAdding = false
    },

    startAdding (id) {
      this.isAdding = true
      this.addToId = id
    },

    isSimpleConstraint (constraint) {
      return !!constraint.field
    }
  },

  props: {
    entity: {
      type: String,
      required: true
    },

    fieldConstraints: {
      type: Array,
      required: true
    }
  }
}
</script>
