<template>
  <v-card elevation="2" class="pa-4 mb-1">
    <h2>Field Refs</h2>
    <v-row v-for="(value, key) in fieldRefs" :key="key">
      <v-col>
        <code>{{key}}</code>
      </v-col>
      <v-col>
        <code>{{value}}</code>
      </v-col>
      <v-col>
        <v-btn fab small @click="removeFieldRef(key)">
          <v-icon>fas fa-trash</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-row v-if="isAdding">
      <v-col>

        <v-overflow-btn
          class="my-2"
          :items="FACT_ENTITY_TYPE_FIELDS[entity]"
          label="Field Name"
          v-model="newFieldRef.name"
        ></v-overflow-btn>

      </v-col>
      <v-col>
        <v-text-field
          label="Mapped Name"
          v-model="newFieldRef.value"
        ></v-text-field>
      </v-col>
      <v-col>
        <v-btn fab small v-if="newFieldRef.name || newFieldRef.value" @click="addFieldRef">
          <v-icon>fas fa-check-double</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-btn v-else @click="() => isAdding = true">
      Add Field Ref
    </v-btn>

  </v-card>
</template>
<script>
import { FACT_ENTITY_TYPE_FIELDS } from '@/constants'

export default {
  props: {
    entity: {
      type: String,
      required: true
    },

    fieldRefs: {
      type: Object,
      required: true
    }
  },

  methods: {
    addFieldRef () {
      this.$emit('add', { [this.newFieldRef.name]: this.newFieldRef.value })
      this.isAdding = false
      this.newFieldRef = this.getDefaults()
    },

    removeFieldRef (key) {
      this.$emit('remove', key)
    },

    getDefaults () {
      return {
        name: '',
        value: ''
      }
    }

  },

  data: function () {
    return {
      FACT_ENTITY_TYPE_FIELDS,
      isAdding: false,
      newFieldRef: this.getDefaults()
    }
  }
}
</script>
