<template>
  <v-card elevation="2" class="pa-4 mb-1">
    <h2>Frame</h2>
    <v-overflow-btn
      class="my-2"
      :items="FRAME_TYPES"
      v-model="frame.type"
      :value="frame.type"
      label="Type"
    ></v-overflow-btn>

    <v-text-field
      label="Value"
      v-model="frame.value"
    ></v-text-field>

  </v-card>
</template>
<script>
import { FRAME_TYPES } from '@/constants'

export default {
  props: {
    frame: {
      type: Object,
      required: true
    }
  },

  data: function () {
    return {
      FRAME_TYPES
    }
  }

}
</script>
