<template>
  <div>
    <v-text-field
      label="Ref"
      @input="change('ref', $event)"
    ></v-text-field>

    <v-overflow-btn
      class="my-2"
      :items="ACTION_ENTITIES"
      label="Entity"
      @change="change('entity', $event)"
    ></v-overflow-btn>
  </div>
</template>
<script>
import { ACTION_ENTITIES } from '@/constants'

export default {
  methods: {
    change (key, value) {
      this.$set(this.form, key, value)
    }
  },

  data: function () {
    return {
      ACTION_ENTITIES
    }
  },

  props: {
    form: {
      type: Object,
      required: true
    }
  }
}
</script>
