<template>
  <v-card elevation="2" class="pa-4 mb-1">
    <h2>Actions</h2>
    <v-row v-for="(value, index) in actions" :key="index">
      <v-col>
        <code>{{value}}</code>
      </v-col>
      <v-col>
        <v-btn fab small @click="removeAction(index)">
          <v-icon>fas fa-trash</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-row v-if="isAdding">
      <v-col>

        <v-card elevation="2" class="pa-4 mb-1">
          <v-overflow-btn
            class="my-2"
            :items="ACTION_TYPES"
            label="Action Type"
            v-model="form.type"
          ></v-overflow-btn>

          <component
            v-if="form.type"
            :form="form.args"
            :is="`action-${form.type}`"
            @add="addAction"
          />

          <v-btn fab small @click="addAction">
            <v-icon>fas fa-check-double</v-icon>
          </v-btn>
        </v-card>
      </v-col>
    </v-row>

    <v-btn v-else @click="isAdding = true">
      Add action
    </v-btn>

  </v-card>
</template>
<script>
import ActionNew from './ActionNew'
import ActionSet from './ActionSet'
import ActionInsert from './ActionInsert'
import ActionGet from './ActionGet'
import { ACTION_TYPES } from '@/constants'

export default {
  components: {
    ActionNew,
    ActionSet,
    ActionInsert,
    ActionGet
  },

  props: {
    actions: {
      type: Array,
      required: true
    }
  },

  methods: {
    addAction (data) {
      this.$emit('add', { ...this.form, ...data })
      this.isAdding = false
      this.form = this.getDefaults()
    },

    removeAction (index) {
      this.$emit('remove', index)
    },

    getDefaults () {
      return {
        type: '',
        args: {}
      }
    }

  },

  data: function () {
    return {
      ACTION_TYPES,
      isAdding: false,
      form: this.getDefaults()
    }
  }
}
</script>
