<template>
  <div>
    <v-text-field
      label="Ref"
      @input="change('ref', $event)"
    ></v-text-field>

    <v-text-field
      label="Field"
      @input="change('field', $event)"
    ></v-text-field>
  </div>
</template>
<script>
export default {
  methods: {
    change (key, value) {
      this.$set(this.form, key, value)
    }
  },

  props: {
    form: {
      type: Object,
      required: true
    }
  }
}
</script>
