<template>
  <data-table v-if="this.isLoaded" :content="content" title="Alarms" />
</template>
<script>
import { alarmsService } from '@/services/api/alarms'

export default {
  created () {
    alarmsService
      .index()
      .then(({ data }) => {
        console.log(data)
        this.content = data.map(alarm => ({
          ...alarm,
          associatedLogs: JSON.stringify(alarm.associatedLogs)
        }))
      })
      .catch(err => {
        console.log(err)
      })
      .finally(() => {
        this.isLoaded = true
      })
  },

  data () {
    return {
      search: '',
      isLoaded: false,
      content: []
    }
  }
}
</script>
