<template>
  <v-row justify="center">
    <v-col cols="12" md="5">
      <v-card elevation="2" class="pa-4">
        <h2>Login</h2>
        <form>
          <v-text-field v-model="form.username" label="Username" required></v-text-field>
          <v-text-field v-model="form.password" label="Password" password></v-text-field>

          <v-btn class="mr-4" @click="submit">login</v-btn>
        </form>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  data: function () {
    return {
      form: this.getDefaults()
    }
  },

  methods: {
    submit () {
      this.$router.push({ name: 'add-template' })
    },

    getDefaults () {
      return {
        username: '',
        password: ''
      }
    }
  }
}
</script>
